* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: IranYekan;
}
.wrapper {
  width: 100%;
}
.bodySection {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px;
}
@font-face {
  font-family: IranYekan;
  src: url("../fonts/IRANYekanWeb-Bold.eot");
  src: url("../fonts/IRANYekanWeb-Bold.ttf");
  src: url("../fonts/IRANYekanWeb-Bold.woff");
  src: url("../fonts/IRANYekanWeb-Bold.woff2");
}
:root {
  --bg-Gunmetal-Gray: #81858b;
  --bg-Snowflake: #f0f0f1;
  --bg-Black-Wash: #0c0c0c;
  --bg-Wind-Chime: #e0e0e2;
  --bg-solid-black: #000000;
  --bg-Silent-Film: #a1a3a8;
  --bg-Midnight-Sky: #424750;
  --bg-Genie: #3f4064;
  --bg-Grey-Web: #62666d;
  --bg-White-Smoke: #f5f5f5;
  --bg-Munsell-Blue: #008eb2;
  --bg-White: #ffffff;
  --bg-Desire: #ef394e;
  --bg-DesireLine: #ef4056;
  --bg-Pāua: #23254e;
  --bg-Desire: #ef3d51;
  --bg-Persian-Red: #d32f2f;
  --bg-Green-Revolution: #029a49;
  --bg-Super-Silver: #ebeeee;
  --bg-Foil: #c0c2c5;
  --bg-Caribbean-Blue: #19bfd3;
  --bg-Naval-Blue: #3c4b6d;
  --bg-Nacho-Cheese: #f9bc00;
  --bg-Celestial: #007295;
  --bg-Dark-Turquoise: #00bfd6;
  --bg-Crimson: #e2113b;
  --bg-Vivid-Blue: #172fff;
  --bg-Monument: #868a90;
}
