.shegheftanghizRoozSlider {
  width: 100%;
  height: 344px;
  padding: 0px 16px;
  margin-top: 16px;
  .swiper {
    width: 100%;
    height: 100%;
    background-color: var(--bg-Crimson);
    border-radius: 8px;
    padding: 0px 16px;
    .shegheftanghizRoozTitle {
      width: 100%;
      height: 66px;
      padding: 16px 0px;
      display: flex;
      gap: 8px;
      flex-flow: row wrap;
      align-items: center;
      color: white;
      font-size: 16px;
    }
    .swiper-wrapper {
      width: 100%;
      height: calc(100% - 66px);
      .swiper-slide {
        width: 618px;
        height: 260px;
        padding: 8px 16px;
        background: white;
        border-radius: 8px;
        .shegheftSVG {
          width: 100%;
          height: 26px;
          margin-bottom: 4px;
          & a {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
          }
        }
        .productINFO {
          width: 100%;
          height: calc(100% - 30px);
          & a {
            width: 100%;
            height: 100%;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            text-decoration: none;
            .shegheftProductImg {
              width: 200px;
              height: 200px;
              & img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            .shegheftProductDescrip {
              width: calc(100% - 200px);
              height: 100%;
              padding-right: 12px;
              .productDetail {
                width: 100%;
                height: 20%;
                display: flex;
                flex-flow: row wrap;
                justify-content: right;
                align-items: center;
                & h3 {
                  font-size: 12px;
                  color: var(--bg-Genie);
                }
                .productColor {
                  width: 14px;
                  height: 14px;
                  border-radius: 50%;
                }
                .colorName {
                  width: calc(100% - 64px);
                  color: var(--bg-Midnight-Sky);
                  margin-right: 8px;
                  font-size: 10px;
                }
                .productRate {
                  color: var(--bg-Genie);
                  font-size: 12px;
                  display: flex;
                  align-items: center;
                  gap: 8px;
                }
                .progressBar {
                  width: 100%;
                  height: 4px;
                }
                .timeElapse {
                  width: 100%;
                  color: var(--bg-Desire);
                  font-size: 12px;
                  text-align: left;
                }
              }
              .price {
                width: 100%;
                height: 45px;
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                .offPrice {
                  width: 100%;
                  height: 24px;
                  position: relative;
                  color: var(--bg-Genie);
                  font-size: 14px;
                  display: flex;
                  gap: 3px;
                  flex-flow: row wrap;
                  align-items: center;
                  justify-content: left;
                  .offAmount {
                    width: 34px;
                    height: 20px;
                    padding: 0px 4px;
                    font-size: 12px;
                    position: absolute;
                    bottom: 2px;
                    right: 0;
                    border-radius: 16px;
                    background-color: var(--bg-Persian-Red);
                    color: var(--bg-White);
                    text-align: center;
                    line-height: 20px;
                  }
                }
                .realPrice {
                  width: 100%;
                  height: 21px;
                  color: var(--bg-Foil);
                  text-decoration: line-through;
                  font-size: 12px;
                  text-align: left;
                  padding: 0px 20px;
                  margin-top: 12px;
                }
              }
            }
          }
        }
      }
    }
  }
}
